.wrapper {
  height: 300px;
}

.table {
  border: 1px solid silver;
  box-sizing: border-box;
  width: 400px;
  height: 150px;
  overflow: scroll;

  &::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  &::-webkit-scrollbar-track {
    background: none;
  }

  &::-webkit-scrollbar-thumb {
    background-color: silver;
    border-radius: 8px;
  }

  &Row {
    display: flex;
  }
}
